*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
/* font-details */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');
/* font-family: 'Mulish', sans-serif; */
h1{
    color: red;
}